<!-- Response spectra control panel -->
<form
    *ngIf="parameterObservable | async"
    [formGroup]="spectraForm"
    id="spectra-form"
    (ngSubmit)="onPlot()">

  <!-- <app-control-panel-forms
      [formGroup]="spectraForm"
      [formFields]="spectraFormControls.multiValueParameters">
  </app-control-panel-forms> -->

  <app-gmm-menu
      [formGroup]="spectraForm"
      [isGmmGrouped]="isGmmGrouped">
  </app-gmm-menu>

  <!-- Event Parameters -->
  <mat-label class="text-bold">Event Parameters:</mat-label>
  <br>
  <div class="indent-form">
    <nshmp-template-form-field
        formGroupName="eventParameters"
        [formGroup]="spectraForm.controls.eventParameters"
        [formFields]="spectraFormControls.eventFormFields">
    </nshmp-template-form-field>
  </div>

  <div formGroupName="sourceParameters"></div>

  <div formGroupName="pathParameters"></div>

</form>

<!-- Buttons -->
<div
    *ngIf="parameterObservable | async"
    class="grid-row margin-y-2">

  <!-- Plot -->
  <button
      color="primary"
      [disabled]="!spectraForm.valid"
      form="spectra-form"
      mat-raised-button
      type="submit">
    Plot
  </button>
</div>
