<!-- Form controls -->
<ng-container
    *ngFor="let el of formControls"
    [ngSwitch]="el.formType"
    [formGroup]="formGroup">

    <!-- Checkbox -->
    <mat-checkbox
        *ngSwitchCase="'checkbox'"
        color="primary"
        [formControlName]="el.formControlName"
        [name]="el.formControlName"
        [ngClass]="el.formClass">
      {{ el.label }}
    </mat-checkbox>

    <!-- Input field -->
    <mat-form-field
        *ngSwitchCase="'input'"
        appearance="outline"
        color="primary"
        floatLabel="always"
        [ngClass]="el.formClass">
      <mat-label>{{ el.label }}</mat-label>
      <mat-hint *ngIf="el.formFieldHint">{{ el.formFieldHint }}</mat-hint>
      <mat-error>{{ el.error }}</mat-error>
      <input
          [formControlName]="el.formControlName"
          matInput
          [matTooltip]="el.tooltip"
          matTooltipPosition="el.tooltipPosition"
          [name]="el.formControlName"
          [step]="el.step"
          [type]="el.type"
          [value]="el.valueSync ? el.valueSync.value : null">
    </mat-form-field>

    <!-- Select -->
    <mat-form-field
        *ngSwitchCase="'select'"
        appearance="outline"
        color="primary"
        floatLabel="always"
        [ngClass]="el.formClass">
      <mat-label>{{ el.label }}</mat-label>
      <mat-select
          [formControlName]="el.formControlName"
          [multiple]="el.multiple">
        <mat-option
            *ngFor="let option of el.options"
            [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Slide toggle -->
    <mat-slide-toggle
        *ngSwitchCase="'toggle'"
        color="primary"
        [formControlName]="el.formControlName"
        [name]="el.formControlName"
        [ngClass]="el.formClass">
      {{ el.label }}
    </mat-slide-toggle>

    <!-- Slider -->
    <mat-slider
        *ngSwitchCase="'slider'"
        color="primary"
        [formControlName]="el.formControlName"
        [min]="el.min"
        [max]="el.max"
        [ngClass]="el.formClass"
        [step]="el.step"
        [thumbLabel]="el.thumbLabel"
        [value]="el.valueSync ? el.valueSync.value : null">
    </mat-slider>

</ng-container>
